body{background-color: #EFEFEF;
    font-family: 'Montserrat', sans-serif;
}
.start h1{
    text-align: center;
    display: none;
    font-size: 2rem;
    margin-top: 150px;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #00B4D8;
}
#startButton{
    font-size: 2rem;
    display: none;
    font-weight:bold;
    padding: 10px 15px;
    border-radius: 10px;
    position: absolute;
    top:47%;
    left: 45%;
    border: 2px solid #03045E;
    background-color: #00B4D8;
    color: white;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
    cursor: pointer;
   
}
#startButton:hover{
    background-color: #06FF00;
    /* color: #B667F1; */
    border-color: #3E7C17;
}
.disclaimer{
    display: none;
    position: absolute;
    width: 550px;
    top: 19%;
    left: 32%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
   background-color: #e8edf0;
}
.underline{
    margin:0 auto;
   width: 400px;
    height: 1px;
  
   background-color: #FF9300;
}
strong{
    color: #00B4D8;
}
.disclaimer h2{
    text-align: center;
    padding: 8px 0;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    margin-top: 25px;
    font-size: 2rem;
    background-color: #06FF00;
    letter-spacing: 3px;
    color: white;
  border-radius: 10px;
}
.inst{
    margin-left: 50px;
    line-height: 1.5rem;
}
.inst p{
    letter-spacing: 1px;
}
.blue{
    color: #00B4D8;
    font-weight: bold;
}
#exit{
    padding: 9px 25px;
    font-weight: bold;
    margin-right: 7px;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 7px;
    background-color: #00B4D8;
    color: white;
    border: 2px solid #2F86A6;
    transition: all 0.5s;

}
#exit:hover{
    cursor: pointer;
    background-color: white ;
    color:#00B4D8 ;
}
#continue{
    padding: 9px 7px;
    margin-left: 7px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    border-radius: 7px;
    color: #00B4D8;
    border: 2px solid #00B4D8;
    transition: all 0.5s;
}
#continue:hover{
    cursor: pointer;
    background-color:#00B4D8 ;
    color: white;
}
.disBtn{
    margin-left: 330px;
    padding-top: 15px;
    padding-bottom: 25px;
   
}
.quiz{
    position: absolute;
    display: none;
    top: 16%;
    left: 27%;
    width: 700px;
    background-color: #e8edf0;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
}
.question{
    width: 600px;
    margin: 15px auto;
}
.quiz hr{
    height: 1px;
    background-color:#FF8E00;
}
.quiz h1{
    text-align: center;
    font-family:monospace;
    font-weight: bold;
    font-size: 2.5rem;
    padding: 6px 0;
    border-radius: 25px;
    color: white;
    background-color: #06FF00;
}
.ques{
    margin-left: 15px;
}
.option{
    display: grid;
}
.inner{
    display: flex;
    justify-content: space-around;
}
.option h4{
    background-color: #A2B29F; 
    color: white; 
    width: 200px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
     border-style: none;
    cursor: pointer;
    letter-spacing: 1px;
    border: 1px solid #A2B29F;
    transition: all 0.3s;
}
.ques h2{
  padding-left: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.option h4:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}
.foot{
    display: flex;
    justify-content: space-between;
    padding: 7px 0;
}
#nextBtn{
    background-color: #00B4D8;
    color: white;
    margin-top: 15px;
    padding: 9px 20px;
    border-radius: 15px;
    border: 1px solid #00B4D8 ;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.5s;
}
#nextBtn:hover{
    background-color: white;
    color: #00B4D8;
   
}
.foot p{
    font-weight: bold;
    letter-spacing: 1px;
}
.result{
    position: absolute;
    display: none;
    top: 23%;
    left: 33%;
    width: 500px;
    text-align: center;
    background-color: #e2f0e1;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.crown{
    font-size: 6rem;
 
    padding-top: 20px;
    color: #FF008E;
}
.result h3{
    font-family: serif;
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #06FF00;
}
.result p{
    font-weight: bold;
}
.result span{
    color:#FF8E00;
    font-size:2rem;
}
.result h4{
    color: #5902EC;
    letter-spacing: 1px;
}
.restart{
    padding-bottom: 20px;
}
#restartBtn{
    padding: 8px 18px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    background-color: #00B4D8;
    color: white;
    border-radius: 5px;
    border: 2px solid #00B4D8;
    cursor: pointer;
    transition: 0.5s;
}
#restartBtn:hover{
    background-color: white;
    color: #00B4D8;
}
/* Making it responsive
 */
 @media(max-width:550px)
 {
    .start h1{
        line-height: 2.8rem;
        margin-top: 40%;
    }   
    #startButton
    {
        left:33%
    }
    .disclaimer{
        width: 400px;
        left:10%;
        top:16%
    }
    .disBtn{
        margin-left: 175px;    
    }
    .quiz{
        width: 450px;
        left: 18px;
        top: 20%
    }
    /*  */
    .question{
        width: 420px;
        margin: 15px auto;
    }
    .option h4{
        width: 150px;
    }
    .result{
        width: 400px;
        left:10%;
        top:25%
    }
 }
 /* @media(max-width:1000px) */
 @media only screen and (min-width: 550px) and (max-width: 1000px)
 {
    #startButton
    {
        left:40%
    }
    .disclaimer{
        width: 500px;
        left:20%;
        top:16%
    }
    .disBtn{
        margin-left: 275px;    
    }
    .quiz{
        width: 600px;
        left: 15%;
        top: 20%
    }
    /*  */
    .question{
        width: 520px;
        margin: 15px auto;
    }
    .option h4{
        width: 200px;
    }
    .result{
        width: 500px;
        left:20%;
        top:25%
    }
 }
